<div class="form">
    <div class="form_header">
      <h2>ようこそ！</h2>
      <p>入力して下さい。</p>
    </div>
    <div class="form_body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        
        <div>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", :placeholder => "Username", class: "form-control rounded-pill mx-auto custom-form" %>
        </div>
        <div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "Email", class: "form-control rounded-pill mx-auto custom-form" %>
        </div>
        <div>
          <%= f.password_field :password, autocomplete: "new-password", :placeholder => "Password(６文字以上)", class: "form-control rounded-pill mx-auto custom-form" %>
        </div>
        <div>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "Password(確認用)", class: "form-control rounded-pill mx-auto custom-form" %>
        </div>
        
        <div>
          <%= f.submit "登録する", class: "btn btn-primary btn-block rounded-pill mx-auto custom-form" %>
        </div>
      <% end %>
    </div>
    <div class="form_footer">
      すでに登録していますか？<%= render "devise/shared/links" %>
    </div>
</div>