<!--管理者画面-->

<div class="new_place">
  <div class="title">
    <h1>登録</h1>
    <p>新しい場所を登録できます。</p>
  </div>
  
  <div class="panel">
    <div class="panel_side">
      <%= link_to "場所設定", new_admin_place_path %>
    </div>
    <div class="panel_body">
      <%= form_with model: @place, url: admin_places_path, local: true do |f| %>
      
        <div class="form-group">
          <h4>Place name</h4>
          <div>
            <%= f.label :name, "建物や場所の名前" %>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
          </div>
        </div>
        
        <div class="form-group">
          <h4>Place name (Yomigana)</h4>
          <div>
            <%= f.label :yomigana, "建物や場所の名前をひらがなで書く" %>
            <%= f.text_field :yomigana, autocomplete: "yomigana", class: "form-control" %>
          </div>
        </div>
        
        <div class="form-group">
          <h4>Image</h4>
          <div>
            <%= f.label :image, "画像" %>
            <%= f.file_field :image, class: "form-control"  %>
          </div>
        </div>
        
        <div class="form-group">
          <h4>Place kind</h4>
          <div>
            <%= f.label :kind, "０が建物や店、１が目印" %>
            <%= f.select :kind, Place.kinds.keys,{ include_blank: "選択してください"}, class: "form-control" %>
          </div>
        </div>
      
        <div class="form-group">
          <h4>Exit number</h4>
          <div>
            <%= f.label :exit_num, "目的地に近い出口の番号" %>
            <%= f.select :exit_num, Place.exit_nums.keys,{ include_blank: "選択してください"}, class: "form-control" %>
          </div>
        </div>
      
        <div class="form-group">
          <%= f.submit "完了", class: "btn btn-primary btn-block mx-auto" %>
        </div>
      <% end %>
    </div>
  </div>
</div>