<div class="form">
    <div class="form_header">
      <h2>こんにちは！</h2>
      <p>あなたのアカウントを入力して下さい。</p>
    </div>
    <div class="form_body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        
        <div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "Email", class: "form-control rounded-pill mx-auto custom-form" %>
        </div>
        <div>
          <%= f.password_field :password, autocomplete: "current-password", :placeholder => "Password", class: "form-control rounded-pill mx-auto custom-form" %>
          <% if devise_mapping.rememberable? %>
            <div class="remember_me">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, "ログイン状態を保持" %>
            </div>
          <% end %>
        </div>
        
        <div>
          <%= f.submit "ログイン", class: "btn btn-primary btn-block rounded-pill mx-auto custom-form" %>
        </div>
      <% end %>
    </div>
    
    <div class="form_footer">
      まだ登録していませんか？<%= render "devise/shared/links" %>
    </div>
</div>